.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.personal-info{
    display: flex;
    align-items: center;
}
.personal-image img{
    width: 60px;
    border-radius: 50%;
}
.body-info{
    margin-left: 20px;
    line-height: 8px;
    font-size: 20px;
}