.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.personal-info{
    display: flex;
    align-items: center;
}
.personal-image img{
    width: 60px;
    border-radius: 50%;
}
.body-info{
    margin-left: 20px;
    line-height: 8px;
    font-size: 20px;
}
.body-structure{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-evenly;
    line-height: 5px;
    background-color: antiquewhite;
    border-radius: 8px;
}
.break p{
    font-size: 30px;
    font-weight: 600;
}
.break-btn{
    display: flex;
    height: 60px;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    justify-content: space-evenly;
    line-height: 5px;
    background-color: antiquewhite;
    border-radius: 8px;
}
.break-btn div{
    margin: 5px;
    cursor: pointer;
}

.break-btn div:hover{
    color: #fff;
    padding: 10px;
    background-color: #0E5E6F;
    border-radius: 70%;
}

.details-exercise, .details-time{
    align-items: center;
    background-color: antiquewhite;
    height: 50px;
}
.complete-btn{
    width: 100%;
    height: 45px;
    background-color: #3A8891;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}
