.service-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.workout-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 100px 50px;
}
.cart-container{
    background-color: #F2DEBA;
    height: 700px;
    position: sticky;
    border-radius:0px 0px 8px 8px;
    right: 0;
}

@media screen and (max-width: 600px){
    .service-container{
        grid-template-columns: 1fr;
    }
    .workout-container{
        grid-template-columns: 1fr;
    }
}
